<app-top></app-top>
<div *ngIf="gameInProgress; else end">
    <app-panel (endGame)="endGame($event)"></app-panel>
</div>
<ng-template #end>
    <div class="container" *ngIf="endMessage === 'defeat'; else endVictory">
        <div class="row">
            <div class="col">
                <h3 style="color: red">Fim de jogo! Infelizmente você perdeu...</h3>
                <button class="btn btn-primary" (click)="restartGame()">Jogar novamente</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #endVictory>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 style="color: green">Fim de jogo! Parabéns você venceu...</h3>
                <button class="btn btn-primary" (click)="restartGame()">Jogar novamente</button>
            </div>
        </div>
    </div>
</ng-template>